<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>sign up</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <nav>
        <div id="branding"><span id="brand-first">Quick</span> Credit</div>
        <ul>
            <li><a href="">Home</a></li>
            <!-- <li><a href="">Sign up</a></li> -->
            <li><a href="">Sign in</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="card">
            <h2 class="card-header">Sign In</h2>
            <p>Sign in to view account....</p>
            <hr>
            <form action="" method="post">
            <div class="form-group">
                <label for="">Email</label>
                <input type="email" required name="" placeholder="Enter email" id="">
            </div>
            <div class="form-group">
                <label for="">Password</label>
                <input type="password" required name="" id="">
            </div>
            
            
            <hr>
            <button class="btn" type="submit">Sign In</button>
            <p>
                <span>Not registered?</span>
            <a href="../views/signup.html">Register</a>
            </p>
            </form>
        </div>
    </div>

    <footer>
        <div class="about">
            <h3><span id="brand-first">About</span> Us</h3>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam repellendus commodi expedita ea quisquam ut labore dolores rem vero debitis.
            </p>
            
        </div>
        <div class="contact">
            <h3 id="brand-first">Contacts</h3>
            <p>
                Email : ryanucheka@gmail.com <br>
                Phone : 09030467496.
            </p>
        </div>
        
    </footer>
</body>
</html>